<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miapp.xanogamesstore">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="XanoGamesStore"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xano.NoActionBar">

        <!-- Pantalla principal con bottom nav -->
        <activity
            android:name="com.miapp.xanogamesstore.ui.HomeActivity"
            android:exported="false" />

        <!-- Login (launcher) -->
        <activity
            android:name="com.miapp.xanogamesstore.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>