<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miapp.xanogamesstore">

    <application
        android:allowBackup="true"
        android:label="Xano Games Store"
        android:icon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xano.NoActionBar">
        <!-- PANTALLA INICIAL: LoginActivity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Pantalla principal post-login -->
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"/>

        <activity android:name=".ui.SignupActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>

</manifest>
